# Data Exploration

## Import Packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sqlite3
import matplotlib.pyplot as plt
%matplotlib inline

## IMDB Data

In [2]:
conn = sqlite3.connect("./data/im.db")

In [3]:
imdb_movie_info = pd.read_sql("""SELECT * FROM movie_basics;""", conn)

In [4]:
imdb_movie_info.head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

### Top Movies by # Votes

In [5]:
top_movies_by_votes = pd.read_sql("""SELECT genres, primary_title, averagerating, start_year, numvotes
                                FROM movie_basics
                                JOIN movie_ratings
                                    USING(movie_id)
                                ORDER BY numvotes DESC
;""", conn)

In [6]:
top_movies_by_votes

,genres,primary_title,averagerating,start_year,numvotes
0,"Action,Adventure,Sci-Fi",Inception,8.8,2010,1841066
1,"Action,Thriller",The Dark Knight Rises,8.4,2012,1387769
2,"Adventure,Drama,Sci-Fi",Interstellar,8.6,2014,1299334
3,"Drama,Western",Django Unchained,8.4,2012,1211405
4,"Action,Adventure,Sci-Fi",The Avengers,8.1,2012,1183655
...,...,...,...,...,...
73851,Comedy,Columbus,5.8,2018,5
73852,"Comedy,Horror",BADMEN with a good behavior,9.2,2018,5
73853,Romance,July Kaatril,9.0,2019,5
73854,Documentary,Swarm Season,6.2,2019,5
73855,None,La vida sense la Sara Amat,6.6,2019,5

### Top Genres by Count

In [7]:
top_genres_by_count = pd.read_sql("""SELECT genres, COUNT(*) as amount
                                        FROM movie_basics
                                        GROUP BY GENRES
                                        ORDER BY amount DESC
;""", conn)

In [8]:
top_genres_by_count

                            genres  amount
0                      Documentary   32185
1                            Drama   21486
2                           Comedy    9177
3                             None    5408
4                           Horror    4372
...                            ...     ...
1081        Action,Animation,Music       1
1082      Action,Animation,History       1
1083  Action,Animation,Documentary       1
1084    Action,Animation,Biography       1
1085      Action,Adventure,Musical       1

[1086 rows x 2 columns]

### Top Genres by Rating

In [9]:
top_genres_by_rating = pd.read_sql("""SELECT genres, AVG(averagerating) as average_rating
                                        FROM movie_basics
                                        JOIN movie_ratings
                                            USING(movie_id)
                                        GROUP BY GENRES
                                        ORDER BY average_rating DESC
;""", conn)

In [10]:
top_genres_by_rating

                         genres  average_rating
0    Comedy,Documentary,Fantasy             9.4
1    Documentary,Family,Musical             9.3
2                 History,Sport             9.2
3                 Music,Mystery             9.0
4                     Game-Show             9.0
..                          ...             ...
919                 Crime,Music             2.4
920     History,Sci-Fi,Thriller             2.3
921     Adventure,Crime,Romance             2.3
922                Adult,Horror             2.0
923        Comedy,Musical,Sport             1.4

[924 rows x 2 columns]

## Box Office Mojo Data

In [11]:
df = pd.read_csv('./data/bom.movie_gross.csv.gz')

In [12]:
foreign_dropped = df[~df['foreign_gross'].isnull()]['foreign_gross']

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [14]:
bom = df.dropna(how='any',axis=0)

In [15]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2007 entries, 0 to 3353
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2007 non-null   object
 1   studio          2007 non-null   object
 2   domestic_gross  2007 non-null   float64
 3   foreign_gross   2007 non-null   object
 4   year            2007 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 94.1+ KB

In [16]:
bom['foreign_gross'].astype('str')

0       652000000
1       691300000
2       664300000
3       535700000
4       513900000
          ...
3275      1500000
3286       229000
3309       256000
3342         5200
3353        30000
Name: foreign_gross, Length: 2007, dtype: object

In [17]:
bom['foreign_gross']=bom['foreign_gross'].str.replace(',','')

<ipython-input-17-78d6ba6efc8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom['foreign_gross']=bom['foreign_gross'].str.replace(',','')

In [18]:
bom['foreign_gross'] = bom['foreign_gross'].astype(float)

<ipython-input-18-1ddd575bdf56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom['foreign_gross'] = bom['foreign_gross'].astype(float)

## Merge BOM and Budgets Data

In [19]:
budgets = pd.read_csv('./data/tn.movie_budgets.csv.gz')
budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [20]:
budgets['release_date'] = pd.to_datetime(budgets['release_date'])

In [21]:
# to change dollar variables into integer types
budgets[budgets.columns[3:]] = budgets[budgets.columns[3:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.int64)

In [22]:
bom_budgets1 = pd.merge(budgets, bom, how='left',
                  left_on='movie', right_on='title')
bom_budgets1.head(10)

,id,release_date,movie,production_budget,domestic_gross_x,worldwide_gross,title,studio,domestic_gross_y,foreign_gross,year
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,NaN,NaN,NaN,NaN,NaN
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,Pirates of the Caribbean: On Stranger Tides,BV,241100000.0,804600000.0,2011.0
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350,NaN,NaN,NaN,NaN,NaN
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,Avengers: Age of Ultron,BV,459000000.0,946400000.0,2015.0
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,NaN,NaN,NaN,NaN,NaN
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,NaN,NaN,NaN,NaN,NaN
6,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,Avengers: Infinity War,BV,678800000.0,1369.5,2018.0
7,8,2007-05-24,Pirates of the Caribbean: At WorldÃ¢Â€Â™s End,300000000,309420425,963420425,NaN,NaN,NaN,NaN,NaN
8,9,2017-11-17,Justice League,300000000,229024295,655945209,Justice League,WB,229000000.0,428900000.0,2017.0
9,10,2015-11-06,Spectre,300000000,200074175,879620923,Spectre,Sony,200100000.0,680600000.0,2015.0

In [23]:
top_100 = bom_budgets1.nlargest(100, 'domestic_gross_x')

In [24]:
top_100.head()

,id,release_date,movie,production_budget,domestic_gross_x,worldwide_gross,title,studio,domestic_gross_y,foreign_gross,year
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,NaN,NaN,NaN,NaN,NaN
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,NaN,NaN,NaN,NaN,NaN
41,42,2018-02-16,Black Panther,200000000,700059566,1348258224,Black Panther,BV,700100000.0,646900000.0,2018.0
6,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,Avengers: Infinity War,BV,678800000.0,1369.5,2018.0
42,43,1997-12-19,Titanic,200000000,659363944,2208208395,NaN,NaN,NaN,NaN,NaN

In [25]:
top_movie_titles = set(top_movies_by_votes.primary_title)

In [26]:
same_movies = []
for movie in top_100.title:
    if movie in top_movie_titles:
        same_movies.append(movie)

In [27]:
len(same_movies)

43

## Filter & Join IMDB Genre Data

In [28]:
filtered_imdb = top_movies_by_votes[top_movies_by_votes.primary_title.isin(same_movies)]

In [29]:
filtered_imdb.head()

,genres,primary_title,averagerating,start_year,numvotes
0,"Action,Adventure,Sci-Fi",Inception,8.8,2010,1841066
1,"Action,Thriller",The Dark Knight Rises,8.4,2012,1387769
7,"Action,Adventure,Comedy",Guardians of the Galaxy,8.1,2014,948394
8,"Action,Adventure,Comedy",Deadpool,8.0,2016,820847
9,"Action,Adventure,Sci-Fi",The Hunger Games,7.2,2012,795227

In [36]:
merged = pd.merge(left=filtered_imdb,right=top_100, how='left',      
left_on='primary_title', right_on='movie')

In [37]:
merged

,genres,primary_title,averagerating,start_year,numvotes,id,release_date,movie,production_budget,domestic_gross_x,worldwide_gross,title,studio,domestic_gross_y,foreign_gross,year
0,"Action,Adventure,Sci-Fi",Inception,8.8,2010,1841066,38,2010-07-16,Inception,160000000,292576195,835524642,Inception,WB,292600000.0,535700000.0,2010.0
1,"Action,Thriller",The Dark Knight Rises,8.4,2012,1387769,11,2012-07-20,The Dark Knight Rises,275000000,448139099,1084439099,The Dark Knight Rises,WB,448100000.0,636800000.0,2012.0
2,"Action,Adventure,Comedy",Guardians of the Galaxy,8.1,2014,948394,14,2014-08-01,Guardians of the Galaxy,170000000,333172112,770867516,Guardians of the Galaxy,BV,333200000.0,440200000.0,2014.0
3,"Action,Adventure,Comedy",Deadpool,8.0,2016,820847,56,2016-02-12,Deadpool,58000000,363070709,801025593,Deadpool,Fox,363100000.0,420000000.0,2016.0
4,"Action,Adventure,Sci-Fi",The Hunger Games,7.2,2012,795227,38,2012-03-23,The Hunger Games,80000000,408010692,677923379,The Hunger Games,LGF,408000000.0,286400000.0,2012.0
5,"Adventure,Family,Fantasy",The Hobbit: An Unexpected Journey,7.9,2012,719629,19,2012-12-14,The Hobbit: An Unexpected Journey,250000000,303003568,1017003568,The Hobbit: An Unexpected Journey,WB (NL),303000000.0,718100000.0,2012.0
6,"Drama,Sci-Fi,Thriller",Gravity,7.7,2013,710018,16,2013-10-04,Gravity,110000000,274092705,693698673,Gravity,WB,274100000.0,449100000.0,2013.0
7,"Action,Adventure,Sci-Fi",Iron Man 3,7.2,2013,692794,48,2013-05-03,Iron Man 3,200000000,408992272,1215392272,Iron Man 3,BV,409000000.0,805800000.0,2013.0
8,"Adventure,Animation,Comedy",Toy Story 3,8.3,2010,682218,47,2010-06-18,Toy Story 3,200000000,415004880,1068879522,Toy Story 3,BV,415000000.0,652000000.0,2010.0
9,"Action,Adventure,Sci-Fi",Avengers: Infinity War,8.5,2018,670926,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,Avengers: Infinity War,BV,678800000.0,1369.5,2018.0
10,"Action,Adventure,Sci-Fi",Avengers: Age of Ultron,7.3,2015,665594,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,Avengers: Age of Ultron,BV,459000000.0,946400000.0,2015.0
11,"Action,Adventure,Sci-Fi",Iron Man 2,7.0,2010,657690,15,2010-05-07,Iron Man 2,170000000,312433331,621156389,Iron Man 2,Par.,312400000.0,311500000.0,2010.0
12,"Action,Adventure,Sci-Fi",Man of Steel,7.1,2013,647288,29,2013-06-14,Man of Steel,225000000,291045518,667999518,Man of Steel,WB,291000000.0,377000000.0,2013.0
13,"Action,Adventure,Thriller",Skyfall,7.8,2012,592221,52,2012-11-08,Skyfall,200000000,304360277,1110526981,Skyfall,Sony,304400000.0,804200000.0,2012.0
14,"Action,Adventure,Sci-Fi",Captain America: Civil War,7.8,2016,583507,17,2016-05-06,Captain America: Civil War,250000000,408084349,1140069413,Captain America: Civil War,BV,408100000.0,745200000.0,2016.0
15,"Action,Adventure,Fantasy",Batman v Superman: Dawn of Justice,6.5,2016,576909,18,2016-03-25,Batman v Superman: Dawn of Justice,250000000,330360194,867500281,Batman v Superman: Dawn of Justice,WB,330400000.0,543300000.0,2016.0
16,"Action,Adventure,Sci-Fi",The Hunger Games: Catching Fire,7.5,2013,575455,38,2013-11-22,The Hunger Games: Catching Fire,130000000,424668047,864868047,The Hunger Games: Catching Fire,LGF,424700000.0,440300000.0,2013.0
17,"Action,Adventure,Sci-Fi",Jurassic World,7.0,2015,539338,34,2015-06-12,Jurassic World,215000000,652270625,1648854864,Jurassic World,Uni.,652300000.0,1019.4,2015.0
18,"Adventure,Animation,Comedy",Inside Out,8.2,2015,536181,98,2015-06-19,Inside Out,175000000,356461711,854235992,Inside Out,BV,356500000.0,501100000.0,2015.0
19,"Action,Adventure,Fantasy",Suicide Squad,6.0,2016,533039,100,2016-08-05,Suicide Squad,175000000,325100054,746059887,Suicide Squad,WB,325100000.0,421700000.0,2016.0
20,"Adventure,Animation,Comedy",Frozen,7.5,2013,516998,56,2013-11-22,Frozen,150000000,400738009,1272469910,Frozen,BV,400700000.0,875700000.0,2013.0
21,"Action,Adventure,Sci-Fi",Black Panther,7.3,2018,516148,42,2018-02-16,Black Panther,200000000,700059566,1348258224,Black Panther,BV,700100000.0,646900000.0,2018.0
22,"Action,Adventure,Fantasy",Wonder Woman,7.5,2017,487527,55,2017-06-02,Wonder Woman,150000000,412563408,821133378,Wonder Woman,WB,412600000.0,409300000.0,2017.0
23,"Action,Adventure,Comedy",Thor: Ragnarok,7.9,2017,482995,82,2017-11-03,Thor: Ragnarok,180000000,315058289,846980024,Thor: Ragnarok,BV,315100000.0,538900000.0,2017.0
24,"Action,Adventure,Sci-Fi",Rogue One: A Star Wars Story,7.8,2016,478592,45,2016-12-16,Rogue One: A Star Wars Story,200000000,532177324,1049102856,Rogue One: A Star Wars Story,BV,532200000.0,523900000.0,2016.0
25,"Action,Adventure,Sci-Fi",Spider-Man: Homecoming,7.5,2017,426302,99,2017-07-07,Spider-Man: Homecoming,175000000,334201140,880166350,Spider-Man: Homecoming,Sony,334200000.0,546000000.0,2017.0
26,"Action,Biography,Drama",American Sniper,7.3,2014,401915,57,2014-12-25,American Sniper,58000000,350126372,547326372,American Sniper,WB,350100000.0,197300000.0,2014.0
27,"Action,Adventure,Comedy",Deadpool 2,7.8,2018,391735,15,2018-05-18,Deadpool 2,110000000,324591735,786680557,Deadpool 2,Fox,318500000.0,460500000.0,2018.0
28,"Adventure,Animation,Comedy",Zootopia,8.0,2016,383446,57,2016-03-04,Zootopia,150000000,341268248,1019429616,Zootopia,BV,341300000.0,682500000.0,2016.0
29,"Action,Adventure,Sci-Fi",The Hunger Games: Mockingjay - Part 1,6.6,2014,379050,62,2014-11-21,The Hunger Games: Mockingjay - Part 1,125000000,337135885,766575131,The Hunger Games: Mockingjay - Part 1,LGF,337100000.0,418200000.0,2014.0
30,"Action,Adventure,Sci-Fi",Transformers: Dark of the Moon,6.2,2011,366409,64,2011-06-29,Transformers: Dark of the Moon,195000000,352390543,1123790543,Transformers: Dark of the Moon,P/DW,352400000.0,771400000.0,2011.0
31,"Horror,Thriller",It,7.4,2017,359123,24,2017-09-08,It,35000000,327481748,697457969,It,WB (NL),327500000.0,372900000.0,2017.0
32,"Adventure,Animation,Comedy",Despicable Me 2,7.4,2013,344230,22,2013-07-03,Despicable Me 2,76000000,368065385,975216835,Despicable Me 2,Uni.,368100000.0,602700000.0,2013.0
33,"Action,Crime,Thriller",Furious 7,7.2,2015,335074,67,2015-04-03,Furious 7,190000000,353007020,1518722794,Furious 7,Uni.,353000000.0,1163.0,2015.0
34,"Action,Adventure,Fantasy",Aquaman,7.1,2018,263328,36,2018-12-21,Aquaman,160000000,335061807,1146894640,Aquaman,WB,335100000.0,812700000.0,2018.0
35,"Action,Adventure,Sci-Fi",The Hunger Games: Mockingjay - Part 2,6.6,2015,252384,39,2015-11-20,The Hunger Games: Mockingjay - Part 2,160000000,281723902,648986787,The Hunger Games: Mockingjay - Part 2,LGF,281700000.0,371700000.0,2015.0
36,"Action,Adventure,Comedy",Jumanji: Welcome to the Jungle,7.0,2017,242735,38,2017-12-20,Jumanji: Welcome to the Jungle,90000000,404508916,964496193,Jumanji: Welcome to the Jungle,Sony,404500000.0,557600000.0,2017.0
37,"Action,Adventure,Sci-Fi",Jurassic World: Fallen Kingdom,6.2,2018,219125,13,2018-06-22,Jurassic World: Fallen Kingdom,170000000,417719760,1305772799,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000.0,2018.0
38,"Adventure,Animation,Comedy",Finding Dory,7.3,2016,213542,46,2016-06-17,Finding Dory,200000000,486295561,1021215193,Finding Dory,BV,486300000.0,542300000.0,2016.0
39,"Adventure,Drama,Fantasy",The Twilight Saga: Eclipse,5.0,2010,211733,53,2010-06-30,The Twilight Saga: Eclipse,68000000,300531751,706102828,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000.0,2010.0
40,"Action,Adventure,Animation",Incredibles 2,7.7,2018,203510,44,2018-06-15,Incredibles 2,200000000,608581744,1242520711,Incredibles 2,BV,608600000.0,634200000.0,2018.0
41,"Adventure,Animation,Comedy",Minions,6.4,2015,193917,73,2015-07-10,Minions,74000000,336045770,1160336173,Minions,Uni.,336000000.0,823400000.0,2015.0
42,"Adventure,Animation,Comedy",The Secret Life of Pets,6.5,2016,161997,26,2016-07-08,The Secret Life of Pets,75000000,368384330,886750534,The Secret Life of Pets,Uni.,368400000.0,507100000.0,2016.0
43,"Adventure,Drama,Sport",Frozen,6.2,2010,62311,56,2013-11-22,Frozen,150000000,400738009,1272469910,Frozen,BV,400700000.0,875700000.0,2013.0
44,"Crime,Drama",Inside Out,4.6,2011,1566,98,2015-06-19,Inside Out,175000000,356461711,854235992,Inside Out,BV,356500000.0,501100000.0,2015.0
45,"Fantasy,Romance",Frozen,5.4,2010,75,56,2013-11-22,Frozen,150000000,400738009,1272469910,Frozen,BV,400700000.0,875700000.0,2013.0
46,"Biography,Documentary,History",Inside Out,7.5,2013,60,98,2015-06-19,Inside Out,175000000,356461711,854235992,Inside Out,BV,356500000.0,501100000.0,2015.0
47,Sci-Fi,Wonder Woman,4.2,2014,20,55,2017-06-02,Wonder Woman,150000000,412563408,821133378,Wonder Woman,WB,412600000.0,409300000.0,2017.0
48,Family,Inside Out,7.3,2011,15,98,2015-06-19,Inside Out,175000000,356461711,854235992,Inside Out,BV,356500000.0,501100000.0,2015.0
49,"Documentary,Drama,Sport",Wonder Woman,6.9,2016,13,55,2017-06-02,Wonder Woman,150000000,412563408,821133378,Wonder Woman,WB,412600000.0,409300000.0,2017.0

In [32]:
#conn.close()